@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

body {
  position: relative;
}

header .header-top {
  background-color: #000;
}
header .header-top .container {
  color: #F7F7F7;
  padding: 5px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-top .container .logo img {
  width: 100%;
}
header .header-top .container .contact {
  display: flex;
  align-items: center;
}
header .header-top .container .contact .cart {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
header .header-top .container .contact .cart .btnCart {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  outline: none;
}
header .header-top .container .contact .cart .btnCart img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header .header-top .container .contact .cart .btnCart img:hover {
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
}
header .header-top .container .contact .cart span {
  font-size: 30px;
  font-weight: 300;
}
header .header-top .container .login {
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  color: #F5F5F5;
  margin-right: 20px;
}
header .header-top .container .register {
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  color: #F5F5F5;
  margin-right: 20px;
}
header .header-bottom .container {
  padding: 0 30px;
}
header .header-bottom .container .navbar {
  background-color: #fff !important;
}
header .header-bottom .container .navbar .nav-item .nav-link {
  font-size: 20px;
  font-weight: 400;
  position: relative;
}

.active {
  color: blue;
}
.active::before {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #AE18E2;
}

.productItem {
  padding-top: 58px;
  width: 100%;
  height: 530px;
}
.productItem .container .productImg {
  position: relative;
}
.productItem .container .productImg img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 334px;
  height: 355px;
  padding: 30px;
  background-color: #F8F8F8;
}
.productItem .container .productInfo .prodName h2 {
  font-size: 30px;
  font-weight: 300;
  padding-bottom: 5px;
}
.productItem .container .productInfo .prodDescrition p {
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 5px;
}
.productItem .container .productInfo h5 {
  font-size: 24px;
  font-weight: 500;
  color: #1ED90E;
  padding-bottom: 20px;
}
.productItem .container .productInfo .prodSize {
  padding-bottom: 11px;
}
.productItem .container .productInfo .prodSize .swapper-prodSize {
  position: relative;
  width: 50px;
  height: 50px;
  margin-right: 21px;
  background-color: #F8F8F8;
}
.productItem .container .productInfo .prodSize .swapper-prodSize .size {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
}
.productItem .container .productInfo .prodSize .swapper-prodSize .size:hover {
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.58);
}
.productItem .container .productInfo .prodPrice {
  margin-top: 17px;
}
.productItem .container .productInfo .prodPrice p {
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  color: #FC0303;
}
.productItem .container .productInfo .prodCount {
  display: flex;
}
.productItem .container .productInfo .prodCount .swap-prodCount {
  position: relative;
  width: 50px;
  height: 50px;
  background: linear-gradient(180deg, #6181F3 0%, #7C97F5 99.48%);
  cursor: pointer;
}
.productItem .container .productInfo .prodCount .swap-prodCount button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 30px;
  font-weight: 400;
}
.productItem .container .productInfo .prodCount .swap-prodCount button:hover {
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.58);
  outline: none;
}
.productItem .container .productInfo .prodCount .swapSp-prodCount {
  position: relative;
  width: 50px;
  height: 50px;
  background: #fff;
}
.productItem .container .productInfo .prodCount .swapSp-prodCount span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-weight: 400;
}
.productItem .container .productInfo .btnAdd {
  position: relative;
  width: 175px;
  height: 64px;
  background: linear-gradient(270deg, rgba(62, 32, 248, 0.9) 5.14%, #D017EE 89.71%);
  margin-top: 7px;
}
.productItem .container .productInfo .btnAdd button {
  border: none;
  outline: none;
  background-color: transparent;
  color: #F5F5F5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  font-size: 24px;
  font-weight: 500;
}
.productItem .container .productInfo .btnAdd button:hover {
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.58);
}

.productRelate {
  margin-top: 55px;
}
.productRelate .container {
  padding-left: 120px;
}
.productRelate .container h2 {
  font-size: 40px;
  font-weight: 400;
}
.productRelate .container .prodItem {
  margin: 0;
  padding: 0;
  margin-top: 89px;
}
.productRelate .container .prodItem .prodCard {
  margin-bottom: 120px;
}
.productRelate .container .prodItem .prodCard .card {
  border: none;
  width: 334px;
  height: 369px;
  background-color: #F8F8F8;
}
.productRelate .container .prodItem .prodCard .card img {
  width: 220px;
  height: 156px;
  margin: 45px 57px;
}
.productRelate .container .prodItem .prodCard .card .name {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  padding-left: 20px;
}
.productRelate .container .prodItem .prodCard .card .shortDes {
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  padding-left: 20px;
  color: #CBC9C9;
}
.productRelate .container .prodItem .prodCard .card .cardFooter {
  display: flex;
  align-items: center;
}
.productRelate .container .prodItem .prodCard .card .cardFooter .buyProd {
  width: 50%;
  border: none;
  height: 64px;
  background-color: #E1B067;
  font-size: 24px;
  font-weight: 200;
}
.productRelate .container .prodItem .prodCard .card .cardFooter .buyProd:hover {
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.58);
}
.productRelate .container .prodItem .prodCard .card .cardFooter .priceItem {
  width: 50%;
  height: 64px;
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  background-color: #DEDDDC;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  margin-top: 106px;
}
footer .footer-top {
  padding: 20px 0 10px 0;
  background-color: #F8F8F8;
}
footer .footer-top .container {
  padding: 0 15px;
}
footer .footer-top .container h3 {
  font-size: 30px;
  font-weight: 700;
}
footer .footer-top .container ul {
  text-decoration: none;
  list-style: none;
}
footer .footer-top .container ul li {
  font-size: 16px;
  font-weight: 300;
}
footer .footer-top .container p {
  font-size: 16px;
  font-weight: 300;
}
footer .footer-top .container a {
  color: #FC0303;
  font-size: 16px;
  font-weight: 200;
}
footer .footer-top .container .borderLeft {
  border-left: 1px solid #cccccc;
}
footer .footer-bottom {
  background-color: #DEDDDC;
  padding: 10px 0;
}
footer .footer-bottom .container {
  padding: 0 15px;
}
footer .footer-bottom .container h3 {
  font-size: 30px;
  font-weight: 700;
}
footer .footer-bottom .container p {
  font-size: 16px;
  font-weight: 300;
}
footer .footer-bottom .container a {
  color: #FC0303;
  font-size: 16px;
  font-weight: 200;
}
footer .footer-bottom .container .borderLeft {
  border-left: 1px solid #cccccc;
}

.ontop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: red;
  cursor: pointer;
  border-radius: 10px;
}
.ontop:hover {
  background: linear-gradient(270deg, rgba(62, 32, 248, 0.9) 5.14%, #D017EE 89.71%);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.58);
  color: white;
}
.ontop:hover .top {
  border: none;
  outline: none;
  color: white;
}
.ontop .top {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  outline: none;
  color: black;
}
.ontop .top i {
  font-size: 20px;
  font-weight: 700;
}
.ontop .top:hover {
  color: white;
}

.activeSize {
  background-color: red;
}

.toggle {
  position: absolute;
  top: 55px;
  right: 0;
  width: 400px;
  height: 30px;
  background-color: #1ED90E;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}
.toggle p {
  padding: 5px;
  color: black;
}

#tableProduct div img {
  width: 100%;
  height: 100%;
}
#tableProduct div .name {
  font-size: 18px;
  font-weight: 700;
}
#tableProduct div .countItem {
  font-size: 16px;
  font-weight: 400;
}
#tableProduct div .price {
  font-size: 16px;
  font-weight: 400;
}
#tableProduct div .totalPrice {
  font-size: 16px;
  font-weight: 400;
}
#tableProduct div .row {
  text-align: center;
}
#tableProduct div .row button {
  border: none;
  outline: none;
}
#tableProduct div .row span {
  max-width: 24%;
}
#tableProduct .total {
  font-size: 18px;
  font-weight: 700;
}
#tableProduct .total span {
  font-size: 18px;
  font-weight: 400;
  color: #FC0303;
}