header {
  .header-top {
    background-color: $bg-c1-dark;
    .container {
      color: $text-c2-light;
      padding: 5px 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .logo {
        img {
          width: 100%;
        }
      }
      .contact {
        display: flex;
        align-items: center;
        .cart {
          display: flex;
          align-items: center;
          margin-right: 10px;
          .btnCart {
            position: relative;
            width: 50px;
            height: 50px;
            background-color: transparent;
            border: none;
            outline: none;
            img {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              &:hover {
                box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
              }
            }
          }
          span {
            font-size: $text-3xl;
            font-weight: $text-light;
          }
        }
      }
      .login {
        font-size: $text-base;
        font-weight: $text-light;
        text-decoration: none;
        color: $text-c1-light;
        margin-right: 20px;
      }
      .register {
        font-size: $text-base;
        font-weight: $text-light;
        text-decoration: none;
        color: $text-c1-light;
        margin-right: 20px;
      }
    }
  }
  .header-bottom {
    .container {
      padding: 0 30px;
      .navbar {
        background-color: $bg-c1-light !important;
        .nav-item {
          .nav-link {
            font-size: $text-2xl;
            font-weight: $text-regular;
            position: relative;
          }
        }
      }
    }
  }
}
.active {
  color: blue;
  &::before {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $bg-c1-pink;
  }
}
.register {
  .container {
    padding-left: 120px;
    h1 {
      @include text($text-4xl, $text-regular);
      margin-bottom: 62px;
    }
    form {
      .row {
        .form-group {
          margin-bottom: 50px;
          position: relative;
          input {
            padding: 0 20px;
            border: none;
            width: 100%;
            height: 50px;
            outline: none;
            transition: 0.25s ease;
            background: transparent;
            border-bottom: 3px solid $text-c1-pink;
            @include text($text-3xl, $text-regular);
            &:focus {
              border-bottom: 3px solid $text-c1-pink;
              & + label {
                color: $text-c1-pink;
                top: -25px;
                margin: 0;
                left: 0;
                display: inline-block;
                background-color: white;
              }
            }
            &:not(:placeholder-shown) {
              & + label {
                color: $text-c1-pink;
                top: -25px;
                margin: 0;
                left: 0;
                display: inline-block;
                background-color: white;
              }
            }
            
          }
          label {
            @include text($text-3xl, $text-regular);
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            // user-select: none;
            // pointer-events: none;
            transition: 0.25s ease;
          }
          div {
            height: 15px;
            color: $text-c1-red;
            position: absolute;
            right: 0;
            top: 20px;
          }
        }
        .register-right {
          padding-left: 70px;
          .form-gender {
            .gender {
              display: flex;
              align-items: center;
              @include text($text-3xl,$text-regular);
            }
            .form-checked {
              height: 100%;
              ul {
                .type {
                  @include text($text-3xl,$text-regular);
                  display: block;
                  position: relative;
                  height: 100px;
                  list-style-type: none;
                  margin: 0px;
                  label {
                    display: block;
                    position: relative;
                    height: 30px;
                    z-index: 9;
                    cursor: pointer;
                    padding: 25px 10px 25px 65px;
                    margin: 10px auto;
                    transition: all 0.25s linear 0s;
                  }
                  input {
                    position: absolute;
                    visibility: hidden;
                  }
                  .check {
                    display: block;
                    position: absolute;
                    width: 50px;
                    height: 50px;
                    top: 30px;
                    left: 20px;
                    z-index: 5;
                    border-width: 5px;
                    border-style: solid;
                    border-color: $bg-c5-light;
                    border-radius: 100%;
                    background-color: $bg-c5-light;
                    &::before {
                      display: block;
                      position: absolute;
                      content: "";
                      border-radius: 100%;
                      height: 30px;
                      width: 30px;
                      top: 50%;
                      left: 50%;
                      transform: translate(-50%, -50%);
                      margin: auto;
                    }
                  }
                }
              }
            }
          }
          .Submit {
            margin-top: 50px;
            width: 291px;
            height: 50px;
            background-color: $bg-c1-pink;
            text-align: center;
            .btnSubmit {
              width: 100%;
              @include text($text-3xl, $text-regular);
              background-color: transparent;
              border: none;
              color: $text-c1-light;
              outline: none;
            }
            &:hover {
              box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
            }
          }
        }
      }
    }
  }
}
/*start ------------- for radio button styles*/
input[type="radio"]:checked ~ .check::before {
  background: $bg-c1-pink;
}
input[type="radio"]:checked ~ label {
  color: $text-c1-pink;
}

footer {
  margin-top: 106px;
  .footer-top {
    padding: 20px 0 10px 0;
    background-color: $bg-c2-light;
    .container {
      padding: 0 15px;
      h3 {
        @include text($text-3xl, $text-bold);
      }
      ul {
        text-decoration: none;
        list-style: none;
        li {
          @include text($text-base, $text-light);
        }
      }
      p {
        @include text($text-base, $text-light);
      }
      a {
        color: $text-c1-red;
        @include text($text-base, $text-extraLight);
      }
      .borderLeft {
        border-left: 1px solid #cccccc;
      }
    }
  }
  .footer-bottom {
    background-color: $bg-c4-light;
    padding: 10px 0;
    .container {
      padding: 0 15px;
      h3 {
        @include text($text-3xl, $text-bold);
      }
      p {
        @include text($text-base, $text-light);
      }
      a {
        color: $text-c1-red;
        @include text($text-base, $text-extraLight);
      }
      .borderLeft {
        border-left: 1px solid #cccccc;
      }
    }
  }
}

