
//color
$text-c1-primary: #2a73dd;
$text-c1-dark: #000;
$text-c2-dark: rgb(107, 105, 105);
$text-c1-light: #F5F5F5;
$text-c2-light: #F7F7F7;
$text-c3-light:  #CBC9C9;
$text-c4-light:#D9D9D9;
$text-c1-pink: #AE18E2;
$text-c1-green:  #1ED90E;
$text-c1-red:#FC0303;


//text-size
$text-xs: 10px;
$text-base: 16px;
$text-xl: 18px;
$text-2xl: 20px;
$text-24xl:24px;
$text-3xl: 30px;
$text-4xl: 40px;
$text-5xl: 50px;
$text-6xl: 60px;

//text-weight
$text-thin:100;
$text-extraLight:200;
$text-light: 300;
$text-regular: 400;
$text-medium: 500;
$text-semiBold: 600;
$text-bold: 700;
$text-extraBold: 800;

//background
$bg-c1-pink: #AE18E2;
$bg-c1-light: #fff;
$bg-c2-light:#F8F8F8;
$bg-c3-light: #cccccc;
$bg-c4-light: #DEDDDC;
$bg-c5-light:#D9D9D9;
$bg-c1-dark:#000;
$bg-c1-brown:  #E1B067;
$bg-c1-red:red;
$bg-c1-green: #1ED90E;
$bg-c1-linear:linear-gradient(180deg, #6181F3 0%, #7C97F5 99.48%);
$bg-c2-linear:linear-gradient(270deg, rgba(62, 32, 248, 0.9) 5.14%, #D017EE 89.71%);



@mixin  text ($fz,$fw){
    font-size: $fz;
    font-weight: $fw;
}