
//color
$text-c1-primary: #2a73dd;
$text-c1-dark: #000;
$text-c2-dark: rgb(107, 105, 105);
$text-c1-light: #F5F5F5;
$text-c2-light: #F7F7F7;
$text-c1-pink: #AE18E2;


//text-size
$text-xs: 10px;
$text-base: 16px;
$text-xl: 18px;
$text-2xl: 20px;
$text-3xl: 30px;
$text-4xl: 40px;
$text-5xl: 50px;
$text-6xl: 60px;

//text-weight
$text-light: 300;
$text-regular: 400;
$text-semiBold: 600;
$text-bold: 700;

//background
$bg-c1-pink: #AE18E2;
$bg-c1-light: #fff;
$bg-c1-dark:#000;