body {
  position: relative;
}


header {
  .header-top {
    background-color: $bg-c1-dark;
    .container {
      color: $text-c2-light;
      padding: 5px 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .logo {
        img {
          width: 100%;
        }
      }
      .contact {
        display: flex;
        align-items: center;
        .cart {
          display: flex;
          align-items: center;
          margin-right: 10px;
          .btnCart {
            position: relative;
            width: 50px;
            height: 50px;
            background-color: transparent;
            border: none;
            outline: none;
            img {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              &:hover {
                box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
              }
            }
          }
          span {
            font-size: $text-3xl;
            font-weight: $text-light;
          }
        }
      }
      .login {
        font-size: $text-base;
        font-weight: $text-light;
        text-decoration: none;
        color: $text-c1-light;
        margin-right: 20px;
      }
      .register {
        font-size: $text-base;
        font-weight: $text-light;
        text-decoration: none;
        color: $text-c1-light;
        margin-right: 20px;
      }
    }
  }
  .header-bottom {
    .container {
      padding: 0 30px;
      .navbar {
        background-color: $bg-c1-light !important;
        .nav-item {
          .nav-link {
            font-size: $text-2xl;
            font-weight: $text-regular;
            position: relative;
          }
        }
      }
    }
  }
}
.active {
  color: blue;
  &::before {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $bg-c1-pink;
  }
}

.productItem {
  padding-top: 58px;
  width: 100%;
  height: 530px;
  .container{
    .productImg {
      position: relative;
      img {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 334px;
        height: 355px;
        padding: 30px;
        background-color: $bg-c2-light;
      }
    }
    .productInfo {
      .prodName {
        h2 {
          @include text($text-3xl, $text-light);
          padding-bottom: 5px;
        }
      }
      .prodDescrition {
        p {
          @include text($text-base, $text-regular);
          padding-bottom: 5px;
        }
      }
      h5 {
        @include text($text-24xl, $text-medium);
        color: $text-c1-green;
        padding-bottom: 20px;
      }
      .prodSize {
        padding-bottom: 11px;
        .swapper-prodSize {
          position: relative;
          width: 50px;
          height: 50px;
          margin-right: 21px;
          background-color: $bg-c2-light;
          .size {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            @include text($text-24xl, $text-semiBold);
            line-height: 29px;
            &:hover {
              box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.58);
            }
          }
        }
      }
      .prodPrice {
        margin-top: 17px;
        p {
          @include text($text-3xl, $text-semiBold);
          line-height: 36px;
          color: $text-c1-red;
        }
      }
      .prodCount {
        display: flex;
        .swap-prodCount {
          position: relative;
          width: 50px;
          height: 50px;
          background: $bg-c1-linear;
          cursor: pointer;
          button {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            background-color: transparent;
            @include text($text-3xl, $text-regular);
            &:hover {
              box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.58);
              outline: none;
            }
          }
        }
        .swapSp-prodCount {
          position: relative;
          width: 50px;
          height: 50px;
          background: $bg-c1-light;
          span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            @include text($text-3xl, $text-regular);
          }
        }
      }
      .btnAdd {
        position: relative;
        width: 175px;
        height: 64px;
        background: $bg-c2-linear;
        margin-top: 7px;
        button {
          border: none;
          outline: none;
          background-color: transparent;
          color: $text-c1-light;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          height: 100%;
          @include text($text-24xl, $text-medium);
          &:hover {
            box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.58);
          }
        }
      }
    }
  }
}

.productRelate {
  margin-top: 55px;
  .container {
    padding-left: 120px;
    h2 {
      @include text($text-4xl, $text-regular);
    }
    .prodItem {
      margin: 0;
      padding: 0;
      margin-top: 89px;
      .prodCard {
        margin-bottom: 120px;
        .card {
          border: none;
          width: 334px;
          height: 369px;
          background-color: $bg-c2-light;
          img {
            width: 220px;
            height: 156px;
            margin:45px 57px;
          }
          .name {
            @include text($text-24xl, $text-light);
            line-height: 29px;
            padding-left: 20px;
          }
          .shortDes {
            @include text($text-2xl, $text-light);
            line-height: 24px;
            padding-left: 20px;
            color: $text-c3-light;
          }
          .cardFooter {
            display: flex;
            align-items: center;
            .buyProd {
              width: 50%;
              border: none;
              height: 64px;
              background-color: $bg-c1-brown;
              @include text($text-24xl, $text-extraLight);
              &:hover {
                box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.58);
              }
            }
            .priceItem {
              width: 50%;
              height: 64px;
              margin: 0;
              @include text($text-24xl, $text-semiBold);
              background-color: $bg-c4-light;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }
    }
  }
}

footer {
  margin-top: 106px;
  .footer-top {
    padding: 20px 0 10px 0;
    background-color: $bg-c2-light;
    .container {
      padding: 0 15px;
      h3 {
        @include text($text-3xl, $text-bold);
      }
      ul {
        text-decoration: none;
        list-style: none;
        li {
          @include text($text-base, $text-light);
        }
      }
      p {
        @include text($text-base, $text-light);
      }
      a {
        color: $text-c1-red;
        @include text($text-base, $text-extraLight);
      }
      .borderLeft {
        border-left: 1px solid #cccccc;
      }
    }
  }
  .footer-bottom {
    background-color: $bg-c4-light;
    padding: 10px 0;
    .container {
      padding: 0 15px;
      h3 {
        @include text($text-3xl, $text-bold);
      }
      p {
        @include text($text-base, $text-light);
      }
      a {
        color: $text-c1-red;
        @include text($text-base, $text-extraLight);
      }
      .borderLeft {
        border-left: 1px solid #cccccc;
      }
    }
  }
}

.ontop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: $bg-c1-red;
  cursor: pointer;
  border-radius: 10px;
  &:hover {
    background: $bg-c2-linear;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.58);
    color: white;
    .top {
      border: none;
      outline: none;
      color: white;
    }
  }
  .top {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    outline: none;
    color: black;
    i {
      @include text($text-2xl, $text-bold);
    }
    &:hover {
      color: white;
    }
  }
}

.activeSize {
  background-color: red;
}

.toggle {
  position: absolute;
  top: 55px;
  right: 0;
  width: 400px;
  height: 30px;
  background-color: $bg-c1-green;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s linear;
  p {
    padding: 5px;
    color: black;
  }
}

#tableProduct {
  div {
    img {
      width: 100%;
      height: 100%;
    }
    .name {
      @include text($text-xl, $text-bold);
    }
    .countItem {
      @include text($text-base, $text-regular);
    }
    .price {
      @include text($text-base, $text-regular);
    }
    .totalPrice {
      @include text($text-base, $text-regular);
    }
    .row {
      text-align: center;
      button {
        border: none;
        outline: none;
      }
      span {
        max-width: 24%;
      }
    }
  }
  .total {
    @include text($text-xl, $text-bold);
    span {
      @include text($text-xl, $text-regular);
      color: $text-c1-red;
    }
  }
}
